body {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  border-right: #FFF dotted 1px;
  padding: 5px;
}
ul.header { 
  background-image: urL("./Header.png");
  padding-top: 20px;
  padding: 5;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: rgb(145, 0, 0);
  color: blue;
}